.vagrant
/cookbooks

/obsolete

# Bundler
bin/*
.bundle/*

.kitchen/
.kitchen.local.yml

# Cache objects
packer_cache/

# For built boxes
*.box
*.vmdk
*.ovf
*.ova
*.log

vendor/

/testbed/out.txt
/testbed/response.json

/testbed/results/
*.conf
*.out
